@{
    ViewBag.Title = "About Tanner";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>My name is Tanner Thomas, I am currently in my last year at Ohio University
    majoring in MIS and Business Analytics. When I'm not vigorously doing my 
    schoolwork, I enjoy reading, hanging out with friends, learning about cryptocurrency
    and blockchain-related topics, and relaxing. After college, I hope to move somewwhere on the
    West Coast and find a job over there. Thanks for visiting my page!</p>
