@{
    ViewBag.Title = "Contact Me!";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    100 N. High St.<br />
    Athens, Ohio 45701<br />
    <abbr title="Phone">P:</abbr>
    123.456.7890
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:tannerstestemail@ohio.edu">tannerstestemail@ohio.edu</a><br />
</address>