<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="portfoliott240016p61ConnectionString" connectionString="Data Source=cob.ohio.edu;Initial Catalog=portfoliott240016p61;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="tt240016ticketingConnectionString" connectionString="Data Source=cob.ohio.edu;Initial Catalog=tt240016ticketing;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="portfoliott240016p62ConnectionString" connectionString="Data Source=cob.ohio.edu;Initial Catalog=portfoliott240016p62;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="crowdfundingtt240016ConnectionString" connectionString="Data Source=cob.ohio.edu;Initial Catalog=crowdfundingtt240016;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="tt240016ticketingh62ConnectionString" connectionString="Data Source=cob.ohio.edu;Initial Catalog=tt240016ticketingh62;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="tt240016e3flightConnectionString" connectionString="Data Source=cob.ohio.edu;Initial Catalog=tt240016e3flight;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="portfolio_tt240016_p21ConnectionString" connectionString="Data Source=cob.ohio.edu;Initial Catalog=portfolio_tt240016_p21;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="portfolio_tt240016_p22ConnectionString" connectionString="Data Source=cob.ohio.edu;Initial Catalog=portfolio_tt240016_p22;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="portfoliott240016spicesuppliesConnectionString" connectionString="Data Source=cob.ohio.edu;Initial Catalog=portfoliott240016spicesupplies;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>